<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://qiushi0919.github.io/boring-notch-focus/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>513mRvihxWadYgC701fIq1xVpf5Nrr80E5vaURyHYnQ=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
